
.auth
{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
    width : 800px;
    height: 500px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid  #7b6787;
    padding: 20px;
    box-shadow: 0px 7px 12px rgba(0,0,0,0.25);
    text-align: center; 
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    

}

input{
  margin:20px;
  height:20px;
}
.login, .sigup
{

}