body
{
    background-image: url('https://i.pinimg.com/564x/3f/e7/81/3fe78140910f6a3895569ba12ff7ea21.jpg');
    background-position: 1040px -30px;
    background-color: #f1f1f3;
    background-repeat: no-repeat;
}



.form-container
{
    padding:20px;
    padding-top:40px;
    box-shadow: 0px 7px 12px rgba(0,0,0,0.25);
    margin: 30px auto;
    width: 30%;
    height: auto;
    position: relative;
    text-align: center;
    background-color:#6cccea;
    background-size: cover;
    border-radius: 25px;
}


 .msg, .title, .Input
 {
  text-align: center;
  color:#f3dfd7!important;
 }
.msg {
    font-size:20px;
    font-weight :bold;
}
 .title-form
 {
     font-size:3.7em;
     color: #444d97;
 }


 input:-webkit-autofill 
 {
    box-shadow: 0 0 0px 1000px #f3dfd7 inset;
    -webkit-text-fill-color: #444d97;
    -webkit-text-size-adjust:20px;
 }

 .Input
 {
    border-radius: 25px;
    margin-top: 10px;
    width:300px;
    height: 3.2em;
    background-color: #f3dfd7!important;
    border:none;
    color:#444d97!important;
    font-size:15px;
    font-weight :bold;
 }

 #btn
 {
    align-items: center;
    border-radius: 25px;
    margin:40px;
    width:300px;
    height: 2.2em;
    background-color: #f3dfd7;
    border:none;
    color:#444d97;
    transition: all .3s ease-out;
    font-size:15px;
    font-weight :bold;
 }

#btn:hover
{
    width:320px;
    height: 2.5em;
    font-size: 1.1rem;
    transform: translate(0, -5px);
}

.input-container
{
    text-align: center;
    margin-top:40px;
}

#another-btn
{
text-decoration: none;
color:#444d97;
font-size:18px;
font-weight :bold;
}

.error
{
    color: #444d97;
    font-weight: bold;
}